.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid red;
    padding: 10px 20px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.navbar .logo img{
    width: 60px;
    height: 60px;
    border: 1px solid red;
    border-radius: 50%;
}
.navbar .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar .logo h2{
    font-size: 20px;
    font-weight: 500;
}
.navbar .navbar-top{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar .search{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    height: 40px;
    border-radius: 12px;
    background-color: #F1F1F1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.navbar .search input{
    border: none;
    background-color: transparent;
    font-size: 14px;
}
.navbar .search i{
    color: #555;
}
.navbar .search input::placeholder{
    font-size: 14px;
}
.navbar .search input:focus{
    outline: none;
}
.navbar .notification{
    display: flex;
    align-items: center;
    position: relative;
}
.navbar .notification i{
    font-size: 22px;
    color: blue;
}
.navbar .notification .icon{
    position: absolute;
    top: 16px;
    right: -2px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.saidbar{
    width: 300px;
    background-color: #fff;
    border: 1px solid red;
    padding: 20px;
    height: calc(100vh - 80px);
    margin: 16px;
    border-radius: 14px;
    transition: all 0.5s ease;
}
.saidbar .saidbar-logo{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}
.saidbar .saidbar-logo h2{
    font-size: 40px;
    font-weight: 400px;
    line-height: 46px;
    color: black;
}
.saidbar .saidbar-logo .hamburger{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #555;
}
.saidbar .saidbar-logo .hamburger i{
    font-size: 26px;
}
.saidbar nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    flex-direction: column;
}
.saidbar nav ul a{
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid red;
    text-decoration: none;
}
.saidbar nav ul a i{
    font-size: 22px;
    color: #555;
}
.saidbar nav ul a .saidbar-name{
    font-size: 18px;
    color: #555;
}