.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid red;
    padding: 10px 20px;
}
.navbar .logo img{
    width: 60px;
    height: 60px;
    border: 1px solid red;
    border-radius: 50%;
}
.navbar .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar .logo h2{
    font-size: 20px;
    font-weight: 500;
}
.navbar .navbar-top{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar .search{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    height: 40px;
    border-radius: 12px;
    background-color: #F1F1F1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.navbar .search input{
    border: none;
    background-color: transparent;
    font-size: 14px;
}
.navbar .search i{
    color: #555;
}
.navbar .search input::placeholder{
    font-size: 14px;
}
.navbar .search input:focus{
    outline: none;
}
.navbar .notification{
    display: flex;
    align-items: center;
    position: relative;
}
.navbar .notification i{
    font-size: 22px;
    color: blue;
}
.navbar .notification .icon{
    position: absolute;
    top: 16px;
    right: -2px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}